h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
form {
  text-align: center;
}
body {
  background-image: url("Images/Sunflowers.jpeg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}